body {
	background: url('Images/Blue_gaussian_blur_1920x1200.jpg'); 

}

a {
	font-size: 18px;
    color: white;
}

h1, h2, h3, p, footer {
	color: white;
}

footer {
	text-align: center;
	background: black;
	height: 45px;
	padding:10px;
}

.container {
	height: 800px;
}

.socialpanel {
	height: 345px;
}

.social {
	width:95px;
	padding:2px;
	right: 10px;
}

#thumb {
	text-align: none;
	font-family: 'Arial', Times, Times New Roman, serif;
	font-size: 18px;
	padding-bottom: 20px;
	margin-left:25px;
	color: white;
}

//*#thumb2 {
	color: white;
	font-family: 'Arial', Times, Times New Roman, serif;
	font-size: 18px
	padding-bottom: 20px;
	margin-left:25px;

}
*//

.img-circle {
	box-shadow: 0px -1px 18px black;

}

#profile {
	box-shadow: 0px -1px 18px black;
}

.panel-title {
	color:white;
	border-bottom: 2px solid white;
	text-align: center;
	margin-bottom: 15px;
	line-height: 35px;
	font-size: 20px

}